.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 25px 50px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.about-content img {
    border-radius: 50%;
    height: 300px;
    margin-bottom: 20px;
}

.about-content p {
    margin-bottom: 20px;
}

.about-content ul {
    list-style-type: none;
    padding: 0;
}

.about-content ul li {
    margin-bottom: 5px;
}