.projects-section {
    padding: 20px;
}

.project-card {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.project-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-card p {
    margin-bottom: 15px;
}

.project-card a {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.project-card a:hover {
    background-color: #2980b9;
}